:root {
  font-family: Verdana, 'Trebuchet MS', 'Arial Black', Arial, Avenir, Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --container-width: 54ch;
  --background-color: #000;
  --theme-color: #C6C4AF;
  --alt-theme-color: #ecd69b;
  --heading-font: 'Anton', sans-serif;
  --body-font: 'Open Sans', sans-serif;
  --spacing: 1px;
  --border: 2px solid var(--theme-color);
  --border-radius: 6px;
  --svg-light-color: #6a6a6a;
  --svg-dark-color: #e4e4e4;
  --button-size: 25px;
  --die-size: 40px;
}


body {
  margin: 0px;
  padding: 0px;
  display: flex;
  vertical-align: top;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

hr {
  margin-block-start: 0.15em;
  margin-block-end: 0.15em;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

#app {
  max-width: 2px;
  margin: 0 auto;
  padding: 0px;
  overflow: hidden;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #111111;
    background-color: #eeeeee;
  }

  a:hover {
    color: #747bff;
  }

  .custom-radio.active path,
  .toggle-image.active path {
    fill: #007BFF;
  }

  .custom-radio path,
  .toggle-image path {
    fill: var(--svg-light-color);
  }

  .toggle-image2 path {
    fill: var(--svg-light-color);
  }

  .custom-radio:hover path,
  .toggle-image:hover path {
    fill: #0056b3;
  }

  .toggle-image2.active path {
    fill: #ff0000;
  }

  .toggle-image2:hover path {
    fill: #b30000;
  }

  .inner-line {
    border-top: 1px solid #444444;
    height: 1px;
    margin: 2px 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border-color: #333333;
    box-shadow: 0 0 10px #0000001a;
  }

  .counter {
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: #007BFF;
    -webkit-user-select: none;
    user-select: none;
    padding: 1px;
  }

  .current-value {
    color: #585858;
    text-align: right;
    position: absolute;
    width: 2ch;
    font-size: 15px;
    top: -5px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #424242;
    color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  .custom-radio.active path,
  .toggle-image.active path {
    fill: #007BFF;
  }

  .custom-radio path,
  .toggle-image path {
    fill: var(--svg-dark-color);
  }

  .toggle-image2 path {
    fill: var(--svg-dark-color);
  }

  .custom-radio:hover path,
  .toggle-image:hover path {
    fill: #0056b3;
  }

  .toggle-image2.active path {
    fill: #ff0000;
  }

  .toggle-image2:hover path {
    fill: #b30000;
  }

  .inner-line {
    border-top: 1px solid #ccc;
    height: 1px;
    margin: 2px 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border-color: #333333;
    box-shadow: 0 0 10px #0000001a;
  }

  .counter {
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    cursor: pointer;
    background-color: #007BFF;
    -webkit-user-select: none;
    user-select: none;
    padding: 1px;
  }

  .current-value {
    color: #e9e9e9;
    text-align: right;
    position: absolute;
    width: 2ch;
    font-size: 15px;
    top: -5px;
  }
}

.sidebar {
  min-width: 100px;
  width: 100px;
  min-height: 35rem;
  overflow: hidden;
  padding: 1px;
  -webkit-user-select: none;
  user-select: none;
}

.options {
  height: auto;
}

.row div {
  display: inline-block;
}

.dice {
  line-height: var(--die-size);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 0px;
  -webkit-user-select: none;
  user-select: none;
}

fieldset {
  display: block;
  min-inline-size: min-content;
  margin: 0px;
  padding: 0px;
  margin-inline: 0px;
  padding-block: 0px;
  padding-inline: 0px;
}

fieldset#dice-tray {
  & canvas#dice-tray {
    height: 302px;
    padding: 0px;
    width: 294px;
    background-image: url('/assets/woodgrain.jpg');
    background-size: cover;
  }
}
fieldset#dice-tray {
  overflow: hidden;
}
.main-content {
  padding: 0px;
}

.custom-radio,
.toggle-image {
  cursor: pointer;
  margin: 0px;
  padding: 2px;
  vertical-align: middle;
}

.custom-radio path,
.toggle-image path {
  transition: fill 0.3s ease;
}

.toggle-image2 {
  cursor: pointer;
  margin: 0px;
  padding: 2px;
  vertical-align: middle;
}

.toggle-image2 {
  transition: fill 0.3s ease;
}

.counter:empty {
  background-color: inherit;
}

select {
  margin: 0;
  padding: 0;
}

.svgbox {
  border: 0px;
  display: inline-block;
}

.sliderrow {
  position: relative;
}

.slider-container {
  width: 70px;
  height: 30px;
  position: relative;
  float: right;
}

.slider {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

legend {
  padding: 0px;
  line-height: 1;
  font-family: 'Lucida Grande', 'Lucida Sans', Arial, 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  font-weight: 900;
}

.log {
  padding: 1px;
  grid-column: 1/-1;
  height: 285px;
  margin: 0;
  overflow: auto;

  @media screen and (width >=800px) {
    grid-row: 1/-1;
    grid-column: 2;
  }

  & #log-entries {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }

  & #log-buttons {
    position: sticky;
    top: 0;
    margin: 0 0 var(--spacing) 0;
    width: 100%;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px;
    gap: var(--spacing);
  }

  & #log-entries {
    margin-top: var(--spacing);
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    font-size: 1em;
    scroll-snap-type: block mandatory;

    &>* {
      scroll-snap-stop: always;
      scroll-snap-align: end;
    }
  }

  & .log-entry-wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 1fr;
    border: var(--border);
    border-radius: var(--border-radius);

    & .output {
      grid-column: 1 / -1;
      grid-row: 2 / -1;
      padding: var(--spacing);
      border-top: var(--border);
    }

    & .output p {
      margin-top: 0;
      margin-bottom: .05em;
    }

    & .total {
      margin: 0;
      grid-row: 1;
      grid-column: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      border-left: var(--border);
    }

    & .description {
      margin: 0;
      grid-column: 1;
      grid-row: 1;
      display: flex;
      padding: var(--spacing);
    }
  }

  & #results {
    margin: 0;
    padding-left: 1.5em;
  }
}

h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}