:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --container-width: 54ch;
  --background-color: #000;
  --theme-color: #C6C4AF;
  --alt-theme-color: #ecd69b;
  --heading-font: 'Anton', sans-serif;
  --body-font: 'Open Sans', sans-serif;
  --spacing: 0px;
  --border: 1px solid var(--theme-color);
  --border-radius: 6px;

  --button-size: 1.1rem;
  --die-size: 2rem;
}


body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  display: flex;
  /* place-items:;
  align-items: center;
  justify-items: center; */
  vertical-align: top;
  min-width: 300px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

hr {
  margin-block-start: 0.15em;
  margin-block-end: 0.15em;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

#app {
  max-width: 2px;
  margin: 0 auto;
  padding: 0px;
  overflow: hidden;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.sidebar {
  min-width: 78px;
  min-height: 595px;
  overflow: hidden;
  padding: 1px;
  background-color: #3d3838;
  /* display: flex;
  flex-direction: column; */
}

.options {
  height: 8rem;
}

.rowxx div {
  display: inline;
  align-items: center;
}

.dice {
  display: inline-block;
  line-height: var(--die-size);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 2px;
  -webkit-user-select: none;
  user-select: none;
}

fieldset {
  display: block;
  min-inline-size: min-content;
  margin: 0px;
  margin-inline: 0px;
  padding-block: 0px;
  padding-inline: 0px;
}

fieldset#dice-tray {
  & canvas#dice-tray {
    height: 350px;
    padding: 0px;
    width: 300px;
  }
}

.main-content {
  padding: 0px;
}

/* Styling for custom radio buttons and toggle images */
.custom-radio,
.toggle-image {
  cursor: pointer;
  margin: 2px;
  padding: 0px;
  vertical-align: middle;
}

.custom-radio path,
.toggle-image path {
  transition: fill 0.3s ease;
}

.custom-radio.active path,
.toggle-image.active path {
  fill: #007BFF;
  /* Active color */
}

.custom-radio path,
.toggle-image path {
  fill: #A9A9A9;
  /* Default color */
}

/* Hover effect for SVGs */
.custom-radio:hover path,
.toggle-image:hover path {
  fill: #0056b3;
  /* A darker shade for hover */
}

.counter {
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  line-height: 1.3rem;
  text-align: center;
  cursor: pointer;
  background-color: #007BFF;
  -webkit-user-select: none;
  user-select: none;
  padding: 1px;
}

.counter:empty {
  background-color: inherit;
}

.inner-line {
  border-top: 1px solid #ccc;
  height: 1px;
  margin: 2px 0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for number inputs to look like spinners */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button !important;
  opacity: 1;
  margin: 0;
}

/* Adding pseudo-elements for spinner buttons */
input[type="number"] {
  position: relative;
}

input[type="number"]::after,
input[type="number"]::before {
  content: '';
  position: absolute;
  right: 0px;
  width: 10px;
  height: 50%;
  background: #eee;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}

input[type="number"]::after {
  top: 0;
  border-bottom: 1px solid #ccc;
}

input[type="number"]::before {
  bottom: 0;
  border-top: 1px solid #ccc;
}

input[type="number"]::after::before {
  content: '\25B2';
  /* Up arrow */
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  color: #333;
  font-size: 10px;
}

input[type="number"]::before::before {
  content: '\25BC';
  /* Down arrow */
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  color: #333;
  font-size: 10px;
}

/* Hover effects for spinner buttons */
input[type="number"]::after:hover,
input[type="number"]::before:hover {
  background: #ddd;
}

.log {
  padding-top: 0;
  grid-column: 1/-1;
  height: 235px;
  margin: 0;
  overflow: auto;

  @media screen and (width >=800px) {
      grid-row: 1/-1;
      grid-column: 2;
  }

  & #log-entries {
      display: flex;
      flex-direction: column;
      gap: var(--spacing);
  }

  & #log-buttons {
      position: sticky;
      top: 0;
      margin: 0 0 var(--spacing) 0;
      width: 100%;
      background-color: var(--background-color);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 40px;
      gap: var(--spacing);
  }

  & #log-entries {
      margin-top: var(--spacing);
      display: flex;
      flex-direction: column;
      gap: var(--spacing);
      font-size: .9em;
      scroll-snap-type: block mandatory;

      &>* {
          scroll-snap-stop: always;
          scroll-snap-align: end;
      }
  }

  & .log-entry-wrapper {
      display: grid;
      grid-template-columns: 4fr 1fr;
      grid-template-rows: auto 1fr;
      border: var(--border);
      border-radius: var(--border-radius);

      & .output {
          grid-column: 1 / -1;
          grid-row: 2 / -1;
          padding: var(--spacing);
          border-top: var(--border);
      }

      & .output p {
          margin-top: 0;
          margin-bottom: .05em;
      }

      & .total {
          margin: 0;
          grid-row: 1;
          grid-column: 2;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-grow: 1;
          border-left: var(--border);
      }

      & .description {
          margin: 0;
          grid-column: 1;
          grid-row: 1;
          display: flex;
          padding: var(--spacing);
      }
  }

  & #results {
      margin: 0;
      padding-left: 1.5em;
  }
}

h2 {
  display: block;
  font-size: 1em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}